.RadioButtonsBlock > * {
  display: block;
}

.EstimateInput {
  max-width: 60px;
}

.ScoreEstimate > * {
  display: block;
}

.CommentArea {
  max-width: 400px !important;
  display: block;
}

.CommentBtn {
  user-select: none;
  font-size: 10px;
}

.RequirementRow {
  margin-bottom: 20px;
}

.RequirementDescription {
  margin: 0;
}
