.container {
    max-width: 1200px;
    margin:  auto;
    border: 1px solid black;
}

.radioButtonsBlock > * {
    display: block;
}

.estimateInput > * {
    display: block;
}

.maxPointBadge > span {
    display: block;
}
