.RequirementName {
  color: #1890ff;
}

.Container {
  max-width: 1000px;
  padding: 30px;
  background: #f8efef;
  border-radius: 10px;
  margin: 20px auto;
}

.Button {
  margin-left: 20px;
  margin-top: 10px;
}

.ButtonSubmit {
  margin-left: 450px;
}
